In [185]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# Question Number 1

1. Scrape the details of most viewed videos on YouTube from Wikipedia:

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [3]:
#creating google chrome drivers instance and then passing the url to extract information from.
driver = webdriver.Chrome("chromedriver.exe")
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [73]:
#creating empty list to store the mentioned details.
ranks = []
names = []
uploders = []
views = []
dates = []
#first extracting ranks from the page
rank = driver.find_elements_by_xpath("//table[@class = 'wikitable sortable jquery-tablesorter'][1]//tbody[1]//tr//td[@align = 'center'][1]")
for i in rank:
    ranks.append(i.text)
#extracting name from the page
name = driver.find_elements_by_xpath("//table[@class = 'wikitable sortable jquery-tablesorter'][1]//tbody[1]//tr//td[2]")
for i in name:
    names.append(i.text)
#extracting uploaders detail from the page
uploder = driver.find_elements_by_xpath("//table[@class = 'wikitable sortable jquery-tablesorter'][1]//tbody[1]//tr//td[3]")
for i in uploder:
    uploders.append(i.text)
#extracting views from the page
view = driver.find_elements_by_xpath("//table[@class = 'wikitable sortable jquery-tablesorter'][1]//tbody[1]//tr//td[4]")
for i in view:
    views.append(i.text)
#extracting uploading dates from the page
date = driver.find_elements_by_xpath("//table[@class = 'wikitable sortable jquery-tablesorter'][1]//tbody[1]//tr//td[5]")
for i in date:
    dates.append(i.text)
#creating data frame
Youtube_views = pd.DataFrame({"Rank" : ranks, "Name of the youtube Video" : names,"Artist": uploders,"Views (in Billions)":views,
                             "Upload Date":dates})

In [74]:
Youtube_views

,Rank,Name of the youtube Video,Artist,Views (in Billions),Upload Date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.71,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.38,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.41,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.34,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.13,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
6,7.,"""Uptown Funk""[31]",Mark Ronson,4.19,"November 19, 2014"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.12,"February 27, 2018"
8,9.,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,4.10,"May 2, 2018"
9,10.,"""Gangnam Style""[34]",Psy,4.08,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.90,"March 6, 2014"
11,12.,"""Sugar""[37]",Maroon 5,3.48,"January 14, 2015"
12,13.,"""Sorry""[38]",Justin Bieber,3.44,"October 22, 2015"
13,14.,"""Dame Tu Cosita""[39]",El Chombo,3.37,"April 5, 2018"
14,15.,"""Roar""[40]",Katy Perry,3.36,"September 5, 2013"
15,16.,"""Counting Stars""[41]",OneRepublic,3.31,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.26,"October 7, 2014"
17,18.,"""Dark Horse""[43]",Katy Perry,3.08,"February 20, 2014"
18,19.,"""Faded""[44]",Alan Walker,3.07,"December 3, 2015"
19,20.,"""Shake It Off""[45]",Taylor Swift,3.06,"August 18, 2014"
20,21.,"""Wheels on the Bus""[46]",Cocomelon – Nursery Rhymes,3.05,"May 24, 2018"
21,22.,"""Lean On""[47]",Major Lazer,3.04,"March 22, 2015"
22,23.,"""Bailando""[48]",Enrique Iglesias,3.04,"April 11, 2014"
23,24.,"""Girls Like You""[49]",Maroon 5,3.04,"May 31, 2018"
24,25.,"""Let Her Go""[50]",Passenger,3.00,"July 25, 2012"
25,26.,"""Mi Gente""[51]",J Balvin,2.92,"June 29, 2017"
26,27.,"""Perfect""[52]",Ed Sheeran,2.86,"November 9, 2017"
27,28.,"""Hello""[53]",Adele,2.84,"October 22, 2015"
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.84,"June 4, 2010"
29,30.,"""Axel F""[55]",Crazy Frog,2.82,"June 16, 2009"

# Question number 2

2. Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [2]:
#creating google chrome drivers instance and then passing the url to extract information from.
driver = webdriver.Chrome("chromedriver.exe")
url2 = "https://www.bcci.tv/"
driver.get(url2)

In [3]:
#extracting link of the fixture button from the dropdown menu
fixture = driver.find_element_by_xpath("//div[@class = 'navigation__drop-down drop-down drop-down--reveal-on-hover']//div//ul//li[1]//a")
fixture_link=fixture.get_attribute('href')
driver.get(fixture_link)

In [104]:
#creating lists of different variables first
serieses = []
matches = []
places = []
dates = []
months = []
fixture = []
times = []



#extracting web element of series
series = driver.find_elements_by_xpath("//span[@class = 'u-unskewed-text fixture__tournament-label u-truncated']")
for i in series:
    serieses.append(i.text)#extracting series from the web element

#extracting web element of match    
Match_title = driver.find_elements_by_xpath("//strong[@class = 'fixture__name fixture__name--with-margin']")
for i in Match_title:
    matches.append(i.text) #extracting matches from the web element

#extracting web element of place   
Place = driver.find_elements_by_xpath("//p[@class = 'fixture__additional-info']//span")
for i in Place:
    places.append(i.text)#extracting places from the web element

#extracting dates web elements
date = driver.find_elements_by_xpath("//span[@class = 'fixture__date']")
for i in date:
    dates.append(i.text)#extracting dates from the web element
    
#extracting months web elements
month = driver.find_elements_by_xpath("//span[@class = 'fixture__month']")
for i in month:
    months.append(i.text)#extracting months from the web element

#since date and month are two different list we'll combine them together and store it in another list 


for i in range(0,6):
    fixture.append(dates[i]+" "+months[i])#combining months and dates together.
    
#extracting times web elements
time = driver.find_elements_by_xpath("//span[@class = 'fixture__time']")
for i in time:
    times.append(i.text)#extracting time from the web elements
    
    
Fixture_international = pd.DataFrame({"Match Title": matches,"Series": serieses,"Place": places,"Date": fixture,"Time": times})
Fixture_international

,Match Title,Series,Place,Date,Time
0,Final,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",18 JUNE,15:00 IST
1,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04 AUGUST,15:30 IST
2,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12 AUGUST,15:30 IST
3,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25 AUGUST,15:30 IST
4,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02 SEPTEMBER,15:30 IST
5,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10 SEPTEMBER,15:30 IST

# Question Number 3

Q3. Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [624]:
#creating google chrome drivers instance and then passing the url to extract information from.
driver = webdriver.Chrome("chromedriver.exe")
url_selenium = "https://www.guru99.com/"
driver.get(url_selenium)

In [626]:
#now we'll get the xpath of the selenium image button present on the web page and the extract link from it.
selenium_link = driver.find_element_by_xpath("//div[@class = 'canvas-middle']//a").get_attribute('href')
driver.get(selenium_link) #reaching the page through link

In [630]:
#from this page we'll get the link of the selenium exception handling page
selenium_exception_page_link = driver.find_element_by_xpath("//table[@class = 'table'][5]//tbody//tr[34]//td[1]//a").get_attribute('href')
driver.get(selenium_exception_page_link) #reaching the exception handling page using the link

In [620]:
#creating empt lists of the desired features
name_of_exception = []
description_of_exception = []

#importing name of exceptions using the xpath
try:
    for i in driver.find_elements_by_xpath("//table[@class = 'table table-striped']//tbody//tr//td[1]"):
        name_of_exception.append(i.text)     #storing name of exceptions in the list
except NoSuchElementException:
    name_of_exception.append('-')
    
    
    
    
#importing descriptions of exception using the xpath
try:
    for i in driver.find_elements_by_xpath("//table[@class = 'table table-striped']//tbody//tr//td[2]"):
        description_of_exception.append(i.text)     #storing descritpion of exception in the list
except NoSuchElementException:
    description_of_exception.append('-')

    
#since both the lists contains the heading of the table so we'll seperate it from the main content
name_of_exception = name_of_exception[1:42] 
description_of_exception = description_of_exception[1:42]

In [623]:
#creating data frames 
Selenium_exception = pd.DataFrame({"Name of exception": name_of_exception , "Description" : description_of_exception})
Selenium_exception

,Name of exception,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# Question Number 4

4. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP at current price (19-20)

D) GSDP at current price (18-19)

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [153]:
#creating google chrome drivers instance and then passing the url to extract information from.
driver = webdriver.Chrome("chromedriver.exe")
url_stats = "http://statisticstimes.com/"
driver.get(url_stats)

In [158]:
#from the statisticstimes.com we will select india from economy dropdown menu.
economy_selector = driver.find_element_by_xpath("//div[@class = 'navbar']//div[2]//div[@class = 'dropdown-content']//a[3]")
link_to_india =economy_selector.get_attribute('href')
driver.get(link_to_india) #getting to indian statistics page
#from indian statistics page we'll go to GDP of Indian states
indian_gdp_options = driver.find_element_by_xpath("//div[@style ='float:left;background-color:seashell;width:400px;height:800px;']//ul//li[1]//a")#extracting elemnet of gdp of indian states
gdp_of_indian_states_link = indian_gdp_options.get_attribute('href') #extracting the link
gdp_of_indian_states_link

In [166]:
driver.get(gdp_of_indian_states_link) #visting the page

In [147]:
#creating lists of the the desired features.
Rank = []
State = []
GSDP = []
GSDP_18 = []
Share = []
GDP = []

#importing ranks of the states from the elements    
try:
    Rank1 = driver.find_elements_by_xpath("//div[@class = 'dataTables_wrapper']//table[1]//tbody//tr//td[@class = 'data1']")#extractiong rank using xpath
    for i in Rank1[0:33]:
        Rank.append(i.text)    #storing ranks in the Rank list
except NoSuchElementException:
        Rank.append('-')

#importing Name of the states from the elements 
try:
    State1 = driver.find_elements_by_xpath("//div[@class = 'dataTables_wrapper']//table[1]//tbody//tr//td[@class = 'name']")#extracting States name using xpath
    for i in State1[0:33]:
        State.append(i.text) #storing States name in the State list
except NoSuchElementException:
        State.append('-')
        
        
        
#importing GSDP at current price (19-20) from the elements
try:
    GSDP_1 = driver.find_elements_by_xpath("//div[@class = 'dataTables_wrapper']//table[1]//tbody//tr//td[3]")#extracting GSDP 19-20 using xpath
    for i in GSDP_1[0:33]:
        GSDP.append(i.text)     #storing GSDP in the Rank list
except NoSuchElementException:
    GSDP.append('-')      
        
        
        
#importing GSDP at current price (18-19) from the elements
try:
    GSDP_18s = driver.find_elements_by_xpath("//div[@class = 'dataTables_wrapper']//table[1]//tbody//tr//td[@class = 'data sorting_1']")#extracting GSDP 18-19 using xpath
    for i in GSDP_18s[0:33]:
        GSDP_18.append(i.text)     #storing GSDP 18-19 in the Rank list
except NoSuchElementException:
    GSDP_18.append('-')
    
    

#importing Share of year (18-19) from the elements
try:
    Share1 = driver.find_elements_by_xpath("//div[@class = 'dataTables_wrapper']//table[1]//tbody//tr//td[5]")#extracting Share 18-19 using xpath
    for i in Share1[0:33]:
        Share.append(i.text)     #storing Share in the Rank list
except NoSuchElementException:
    Share.append('-')


#importing GDP of year from the elements
try:
    GDP1 = driver.find_elements_by_xpath("//div[@class = 'dataTables_wrapper']//table[1]//tbody//tr//td[6]")#extracting GDP using xpath
    for i in GDP1[0:33]:
        GDP.append(i.text)     #storing GDP in the Rank list
except NoSuchElementException:
    GDP.append('-')

In [168]:
#creating the dataframe
GDP_Indian_States = pd.DataFrame({"Rank" : Rank,"Name of the State":State,"GSDP (Cr INR at Current prices)(19-20)":GSDP ,"GSDP (Cr INR at Current prices)(18-19)" :GSDP_18,
                                 "Share (18-19)": Share, "GDP ($billion)":GDP})

In [169]:
GDP_Indian_States

,Rank,Name of the State,GSDP (Cr INR at Current prices)(19-20),GSDP (Cr INR at Current prices)(18-19),Share (18-19),GDP ($billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Question Number 5

5. Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [584]:
#creating google chrome drivers instance and then passing the url to extract information from.
driver = webdriver.Chrome("chromedriver.exe")
url_git_hub = "https://github.com/"
driver.get(url_git_hub)

In [585]:
#importing the web elemnt of extended list
extend_list = driver.find_element_by_xpath("//button[@class = 'btn-link d-lg-none mt-1 js-details-target']")
extend_list.click()
#importing the trending link from the explore dropdown
explore_dropdown = driver.find_element_by_xpath("//div[@class = 'dropdown-menu flex-auto rounded px-0 pt-2 pb-0 mt-0 pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4']//ul[2]//li[3]//a")

trending_link = explore_dropdown.get_attribute('href')
trending_link

'https://github.com/trending'

In [586]:
#now extracting desired elements from this trending web page
driver.get(trending_link)

In [587]:
#creating empty lists of all the desired features
Repository_title = []
Repository_description = []
Contributors_count = []
Language_used = []

time.sleep(5)
#importing repository title using xpath
try:
    repository = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']//a")
    for i in repository:
        Repository_title.append(i.text) #storing repository titles in the list
except NoSuchElementException:
    Repository_title.append('-')

    
    
#importing repository description using xpath
try:
    description = driver.find_elements_by_xpath("//article[@class = 'Box-row']//p[@class = 'col-9 color-text-secondary my-1 pr-4']")
    for i in description:
        Repository_description.append(i.text) #storing repository description in the list
except NoSuchElementException:
    Repository_description.append('-')
    
    
    
#importing Language used using xpath
try:
    language = driver.find_elements_by_xpath("//span[@class = 'd-inline-block ml-0 mr-3']//span[2]")
    for i in language:
        Language_used.append(i.text) #storing language of the code in the list
except NoSuchElementException:
    Language_used.append('-')

    
    
    
#for importing the contributors count we'll first extract all the urls of each of the reprository and then extract contributors count from there
#extracting urls of reprository
urls = []
url = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']//a")
for i in url:
    urls.append(i.get_attribute('href'))
    
#now we'll go inside each reprository using the url and extract contributors coutn from there     
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        contributor_count = driver.find_element_by_xpath("//div[@class ='flex-shrink-0 col-12 col-md-3']//div[@class = 'BorderGrid BorderGrid--spacious']//div[4]//div//h2//a//span").text
        Contributors_count.append(contributor_count)
    except NoSuchElementException:
        Contributors_count.append('-')

In [608]:
Git_hub_repository = pd.DataFrame({"Repository Title": Repository_title,"Repository Description" : Repository_description,
                                  "Language Used": Language_used, "Contributors Count" : Contributors_count})
Git_hub_repository

,Repository Title,Repository Description,Language Used,Contributors Count
0,siduck76 / NvChad,beautiful neovim setup configured in lua,Lua,-
1,star261 / jd,Watchy - An Open Source E-Ink Smartwatch,JavaScript,2
2,sqfmi / Watchy,An easier way to build neural search on the cloud,C,-
3,jina-ai / jina,You like pytorch? You like micrograd? You love...,Python,97
4,geohot / tinygrad,Use Turbo in your Ruby on Rails app,Python,1
5,hotwired / turbo-rails,A complete computer science study plan to beco...,JavaScript,-
6,jwasham / coding-interview-university,Turn (almost) any Python command line program ...,Python,
7,chriskiehl / Gooey,梦弘浏览器 自主研发版本 - 完全自主研发，打破国外垄断，比 Chrome 快 600%。缺...,C,334
8,monyhar / monyhar-lite,The official GitHub mirror of the Chromium source,JavaScript,-
9,chromium / chromium,"A collection of inspiring lists, manuals, chea...",C#,-
10,trimstray / the-book-of-secret-knowledge,30 days of JavaScript programming challenge is...,TypeScript,
11,Asabeneh / 30-Days-Of-JavaScript,A long list of (advanced) JavaScript questions...,JavaScript,-
12,lydiahallie / javascript-questions,Keeps your screen real-estate clean with refin...,Python,-
13,neon-age / Smart-Inspector,Alibaba Group Unified Form Solution -- Support...,JavaScript,
14,alibaba / formily,PyTorch Tutorial for Deep Learning Researchers,Go,
15,JDHelloWorld / jd_scripts,The React Framework,Python,-
16,yunjey / pytorch-tutorial,【编程随想】收藏的电子书清单（多个学科，含下载链接）,C,-
17,vercel / next.js,Bee is a Swarm client implemented in Go. It’s ...,Python,320k
18,programthink / books,Rich is a Python library for rich text and bea...,Rust,-
19,ethersphere / bee,An 8-bit minicomputer with a fully custom arch...,JavaScript,36
20,willmcgugan / rich,"Official implementation of ""SegFormer: Simple ...",-,3.7k
21,jdah / jdh-8,An open source remote desktop client software,-,-
22,NVlabs / SegFormer,"Tutorial created by Enyel Sequeira, taught by ...",-,-
23,rustdesk / rustdesk,-,-,
24,adrianhajdin / portfolio_website,-,-,-

# Question number 6

6. Scrape the details of top 100 songs on billboard.com.

Url = https://www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [321]:
#creating google chrome drivers instance and then passing the url to extract information from.
driver = webdriver.Chrome("chromedriver.exe")
url_bill = "https://www.billboard.com/"
driver.get(url_bill)

In [324]:
#first we'll extract link to hot 100 page
hot_100_link = driver.find_element_by_xpath("//nav[@class = 'header__subnav bg--light']//ul//li[3]//a").get_attribute('href')
#now we'll get to the desired page using the link
driver.get(hot_100_link)

In [302]:
#creating empty lists of all the desired features
song_name = []
artist_name = []
last_week_rank =[]
peak_rank = []
weeks_on_board = []

In [318]:
#importing song name from the elements
try:
    song_name1 =driver.find_elements_by_xpath("//span[@class = 'chart-element__information__song text--truncate color--primary']")#extracting song name using xpath
    for i in song_name1:
        song_name.append(i.text)     #storing songs name in the song name list
except NoSuchElementException:
    song_name.append('-')

    
    
    
#importing artists name from the elements
try:
    artist_name1 =driver.find_elements_by_xpath("//span[@class = 'chart-element__information__artist text--truncate color--secondary']")#extracting artist name using xpath
    for i in artist_name1:
        artist_name.append(i.text)     #storing artists name in the artist name list
except NoSuchElementException:
    artist_name.append('-')
    
    
    
    
    
#importing last week from the elements
try:
    last_week_rank1 =driver.find_elements_by_xpath("//div[@class = 'chart-element__meta text--center color--secondary text--last']")#extracting last week details using xpath
    for i in last_week_rank1:
        last_week_rank.append(i.text)     #storing last week rank in the last week rank list
except NoSuchElementException:
    last_week_rank.append('-')
 




 #importing peak rank  from the elements
try:
    peak_rank1 =driver.find_elements_by_xpath("//div[@class = 'chart-element__meta text--center color--secondary text--peak']")#extracting peak rank using xpath
    for i in peak_rank1:
        peak_rank.append(i.text)     #storing peak rank in the peak rank list
except NoSuchElementException:
    peak_rank.append('-')
    
    
    
    
    
#importing week on boards from the elements
try:
    week_on_boards1 =driver.find_elements_by_xpath("//div[@class = 'chart-element__meta text--center color--secondary text--week']")#extracting week on boards using xpath
    for i in week_on_boards1:
        weeks_on_board.append(i.text)     #storing week on boards in the week on boards list
except NoSuchElementException:
    weeks_on_board.append('-')

In [326]:
#creating dataframes
Top_100_songs = pd.DataFrame({"Song Name" : song_name ,"Artist Name": artist_name,"Last week Rank": last_week_rank,
                              "Peak Rank" : peak_rank,"Weeks on Board" : weeks_on_board})
Top_100_songs

,Song Name,Artist Name,Last week Rank,Peak Rank,Weeks on Board
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,2,1,4
2,Levitating,Dua Lipa Featuring DaBaby,3,2,36
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
95,Things A Man Oughta Know,Lainey Wilson,93,93,4
96,Country Again,Thomas Rhett,89,73,6
97,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
98,If You Want To,Lil Baby & Lil Durk,-,99,1
99,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

# Question Number 7

Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

    A) Name

    B) Designation

    C) Company

    D) Skills they hire for

    E) Location

    Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [427]:
#creating google chrome drivers instance and then passing the url to extract information from.
driver = webdriver.Chrome("chromedriver.exe")
url_naukari = "https://www.naukri.com/"
driver.get(url_naukari)

In [428]:
#extracting the link of recruiters option from the web page using xpath
recruiters_link = driver.find_element_by_xpath("//ul[@class= 'midSec menu']//li[2]//a[@title = 'Search Recruiters']").get_attribute('href')
#now using link to get to the page
driver.get(recruiters_link)

In [429]:
#now extracting elements of search bar and search button
search_bar = driver.find_element_by_xpath("//input[@class= 'sugInp']")
search_button = driver.find_element_by_xpath("//button[@class = 'fl qsbSrch blueBtn']")

#now we'll pass the input kes as "Data science" and click the search button
search_bar.send_keys("Data Science")
search_button.click()

In [361]:
#creating empty list of all the desired features
name = []
designation = []
company = []
skills_hire = []
location = []

In [441]:
 #importing name using the xpath
try:
    for i in driver.find_elements_by_xpath("//span[@class = 'fl ellipsis']"):
        name.append(i.text)     #storing name in the list
except NoSuchElementException:
    name.append('-')



 #importing skills hire for using the xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class = 'hireSec highlightable']"):
        skills_hire.append(i.text)     #storing skill the hire in the list
except NoSuchElementException:
    skills_hire.append('-')

 #importing disgnation they hire for using the xpath
try:
    for i in driver.find_elements_by_xpath("//span[@class = 'ellipsis clr']"):
        designation.append(i.text)     #storing designation  for in the list
except NoSuchElementException:
    designation.append('-')    
    
 #importing location using the xpath
try:
    for i in driver.find_elements_by_xpath("//p//span//small[@class = 'ellipsis']"):
        location.append(i.text)     #storing location in the list
except NoSuchElementException:
    location.append('-')


    
#importing company name using the xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class = 'highlightable']//a[2]"):
        company.append(i.text)     #storing company in the list
except NoSuchElementException:
    company.append('-')

In [448]:
#creating data frames
Data_Science_Recruiter = pd.DataFrame({"Name" : name , "Designation" :designation,"Company": company,"Location": location,
                                        "Skills they hire for" : skills_hire})
Data_Science_Recruiter

,Name,Designation,Company,Location,Skills they hire for
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
10,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
11,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Pune,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
15,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
16,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
20,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
23,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
25,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,Delhi,"Signal Processing, Machine Learning, Neural Ne..."
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Bengaluru / Bangalore,"Web Technologies, Project Management, Software..."
28,Priya Khare,Senior Manager,Independent Consultant,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analyti..."
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Mysoru / Mysore,"Server Administartion, Verilog, Vhdl, Digital ..."
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Hyderabad / Secunderabad,"Data Analytics, Managed Services, Team Leading..."
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Bengaluru / Bangalore,"Data Science, Machine Learning, Big Data Analy..."
32,Radha Manivasagam,HR Executive,Techcovery,Noida,"Python, Artificial Intelligence, Machine Learn..."
33,Prateek Kumar,Head,Trisect,New Delhi,"Java, Python, Angularjs, Software Testing, Mac..."
34,Amit Sharma,Consultant,ASCO consulting,Chennai,"Machine Learning, Artificial Intelligence, Dat..."
35,Kanan,senior technology instructor,NY INST,Aligarh,"C, C++, Artificial Intelligence, Python, Php, ..."
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Salt Lake City,"Relationship Management, Retail Sales, Private..."
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,Pune,"Data Science, Software Engineering"
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,Bengaluru / Bangalore,"Data Science, Big Data Analytics, Digital Mark..."
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Mumbai,"Data Science, Recruitment, Salary"
40,Ankit Sinha,Head Analytics,Suntech Global,Indore,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Bengaluru / Bangalore,"Software Development, Business Intelligence, B..."
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,MYSORE,"Data Science, Node.js, Angularjs"
43,Ashwini,Director Global Delivery,MRP Advisers,Hyderabad / Secunderabad,"Data Science, Media Marketing, Resource Planni..."
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Bengaluru / Bangalore,"Data Analysis, Learning, Data Science, Compute..."
45,Rajani Nagaraj,HR Manager,WildJasmine,Mumbai,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
46,ROHIT Kumar,Architect,LNT Private Limited,Noida,"Software Development, Core Java, Unit Testing,..."
47,Amir Chowdhury,Managing Partner,Granular.ai,Mumbai,"Machine Learning, Data Science, Product Manage..."
48,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,,"consulting, Education Counseling, Educational ..."
49,Sunny Sharma,Managing Director - HR,Western Service Providers,,"Software Professionals, Engineering, Technical..."

# Question Number 8

8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [449]:
#creating google chrome drivers instance and then passing the url to extract information from.
driver = webdriver.Chrome("chromedriver.exe")
url_book = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url_book)

In [469]:
#creating empty list to store the mentioned details.
book_name = []
author_name = []
volumes_sold = []
publisher = []
genre = []



#first extracting book name from the page
book_name1 = driver.find_elements_by_xpath("//table[@class = 'in-article sortable']//tbody//tr//td[2]")
for i in book_name1:
    book_name.append(i.text)   #storing it in the list

    
    
#extracting aunthor name  from the page
author_name1 = driver.find_elements_by_xpath("//table[@class = 'in-article sortable']//tbody//tr//td[3]")
for i in author_name1:
    author_name.append(i.text)  #storing it in the list

    
    
#extracting volume sold detail from the page
volume_sold1 = driver.find_elements_by_xpath("//table[@class = 'in-article sortable']//tbody//tr//td[4]")
for i in volume_sold1:
    volumes_sold.append(i.text)    #storing it in the list

    
    
#extracting publisher from the page
publisher1 = driver.find_elements_by_xpath("//table[@class = 'in-article sortable']//tbody//tr//td[5]")
for i in publisher1:
    publisher.append(i.text)   #storing it in the list

    
    
    
#extracting genre dates from the page
genre1 = driver.find_elements_by_xpath("//table[@class = 'in-article sortable']//tbody//tr//td[6]")
for i in genre1:
    genre.append(i.text)   #storing it in the list

    
    
#creating data frame
Highest_selling_novel = pd.DataFrame({"Book Name" : book_name, "Author Name" : author_name,"Volumes Sold": volumes_sold,
                              "Publisher":publisher,
                             "Genre":genre})

In [470]:
Highest_selling_novel

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question Number 9

9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [471]:
#creating google chrome drivers instance and then passing the url to extract information from.
driver = webdriver.Chrome("chromedriver.exe")
url_imdb = "https://www.imdb.com/list/ls095964455/"
driver.get(url_imdb)

In [490]:
#creating empty list to store the mentioned details.
Name = []
year_span = []
Genre = []
run_time = []
Ratings = []
votes =[]


#first extracting name of tv show from the page
for i in driver.find_elements_by_xpath("//h3[@class = 'lister-item-header']//a"):
    Name.append(i.text)   #storing it in the list

    
    
#extracting year span  from the page
for i in driver.find_elements_by_xpath("//h3[@class = 'lister-item-header']//span[@class ='lister-item-year text-muted unbold']"):
    year_span.append(i.text)  #storing it in the list

    
    
#extracting Genre detail from the page
for i in driver.find_elements_by_xpath("//span[@class ='genre']"):
    Genre.append(i.text)    #storing it in the list

    
    
#extracting Run time from the page
for i in driver.find_elements_by_xpath("//span[@class ='runtime']"):
    run_time.append(i.text)   #storing it in the list

    
    
#extracting Ratings from the page
for i in driver.find_elements_by_xpath("//div[@class = 'ipl-rating-star small']//span[@class ='ipl-rating-star__rating']"):
    Ratings.append(i.text)   #storing it in the list

    

#extracting Votes dates from the page
for i in driver.find_elements_by_xpath("//span[@name ='nv']"):
    votes.append(i.text)   #storing it in the list    
    
    
    
#creating data frame
IMDB_TV_SHOWS = pd.DataFrame({"Name" : Name, "Year Span" : year_span,"Genre": Genre,
                              "Run Time":run_time, "Rating" : Ratings,
                             "Votes":votes})

In [491]:
IMDB_TV_SHOWS

,Name,Year Span,Genre,Run Time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,823,541"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"864,019"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"874,576"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,713"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"224,072"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,581"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,079"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,786"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,892"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,470"

# Question Number 10

10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [562]:
#creating google chrome drivers instance and then passing the url to extract information from.
driver = webdriver.Chrome("chromedriver.exe")
url_uci = "https://archive.ics.uci.edu/"
driver.get(url_uci)

In [568]:
#extracting link to show all dataset page using xpath
all_repository_link = driver.find_element_by_xpath("//table[1]//tbody//tr//td[2]//span[2]//a").get_attribute('href')
#now getting to the page
driver.get(all_repository_link)

In [569]:
all_repository_link

'https://archive.ics.uci.edu/ml/datasets.php'

In [570]:
driver.get(all_repository_link)

In [547]:
#creating empty list to store the mentioned details.

names = []
types = []
task = []
attribute = []
instances =[]
attribute_number = []
year = []


#importing Repository name using the xpath
try:
    for i in driver.find_elements_by_xpath("//table[ @border = '1']//table//tbody//td[2]//a"):
        names.append(i.text)     #storing Repository name in the list
except NoSuchElementException:
    names.append('-')

    
#importing Data types of the repository name using the xpath
try:
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p"):
        types.append(i.text)     #storing data types in the list
except NoSuchElementException:
    types.append('-')

    
#importing task of the repository name using the xpath
try:
    for i in driver.find_elements_by_xpath("//table[ @border = '1']//tbody//td[3]//p[@class = 'normal']"):
        task.append(i.text)     #storing task in the list
except NoSuchElementException:
    task.append('-')
    
    
    
    
#importing Atrribute of the repository name using the xpath
try:
    for i in driver.find_elements_by_xpath("//table[ @border = '1']//tbody//td[4]//p[@class = 'normal']"):
        attribute.append(i.text)     #storing attribute in the list
except NoSuchElementException:
    attribute.append('-')
    
    
    
#importing No. of instances of the repository name using the xpath
try:
    for i in driver.find_elements_by_xpath("//table[ @border = '1']//tbody//td[5]//p[@class = 'normal']"):
        instances.append(i.text)     #storing no. of instances in the list
except NoSuchElementException:
    instances.append('-')
    
    
    
#importing number of attributes of the repository name using the xpath
try:
    for i in driver.find_elements_by_xpath("//table[ @border = '1']//tbody//td[6]//p[@class = 'normal']"):
        attribute_number.append(i.text)     #storing no. of attributes in the list
except NoSuchElementException:
    attribute_number.append('-')
    
    
#importing year of the repository name using the xpath
try:
    for i in driver.find_elements_by_xpath("//table[ @border = '1']//tbody//td[7]//p[@class = 'normal']"):
        year.append(i.text)     #storing year in the list
except NoSuchElementException:
    year.append('-')

In [560]:
#creating DataFrames
Uci_repositiory_info = pd.DataFrame({"Dataset name" : names, "Data type" : types,"Task": task,"Attribute type" :attribute,
                                    "No of instances":instances,"No of attribute" : attribute_number,"Year" :year })

In [561]:
Uci_repositiory_info

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021